@font-face {
  font-family: 'bnassim';
  src: url('nassim-bold.eot?v=4.5.0');
  src: url('nassim-bold.eot?#iefix&v=4.5.0') format('embedded-opentype'),  url('nassim-bold.woff?v=4.5.0') format('woff'), url('nassim-bold.ttf?v=4.5.0') format('truetype'), url('nassim-bold.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rnassim';
  src: url('nassim-regular.eot?v=4.5.0');
  src: url('nassim-regular.eot?#iefix&v=4.5.0') format('embedded-opentype'),  url('nassim-regular.woff?v=4.5.0') format('woff'), url('nassim-regular.ttf?v=4.5.0') format('truetype'), url('nassim-regular.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url('fonts/iryekanregular.eot');
    src: url('fonts/iryekanregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/iryekanregular.woff') format('woff'),
         url('fonts/iryekanregular.ttf') format('truetype'),
         url('fonts/iryekanregular.svg#iryekanregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
