
@{
    ViewBag.Title = "m";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<h2>m</h2>

<form action="/BaseContent/m" method="get">

    <input type="text" name="q" value="@ViewBag.q" />
    <button type="submit">sss</button>
</form>

<div>
    
    @Html.Raw(ViewBag.re)
</div>
