@model List<Rdio.Models.Content.NewsContent>

<div class="block2">
    @foreach (var item in Model)
    {
        <div class="newsitem"><a target="_blank" href="@Url.Action("Item","News",new {ContentId=item._id})">@item.titr</a></div>
    }
</div>