@model Rdio.ViewModel.News.ServiceVM
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h1>Home</h1>
<div class="clearfix">
    @foreach (var item in Model.BlockNews)
    {
        <div class="col-md-4">
            @foreach (var news in item.Item2)
            {
                <div>@news.titr</div>
            }
        </div>
    }
</div>
