
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Service</h2>

<script>
    $(document).ready(function () {
        Rdio.News.Event.GetCategories();
    });
</script>

