@model Rdio.ViewModel.News.ServiceVM
@{
    ViewBag.Title = Model.Category.title;
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="col-md-3">
    @{
        var Block = Model.BlockNews.FirstOrDefault(q => q.Block.code == "LATESTNEWS");
        if (Block != null && Block.News.Any())
        {
            @Html.Partial("_block1", Block.News.Take(10).ToList(),new ViewDataDictionary { { "BlockTitle",Block.Block.title } })
        }
    }
</div>

<div class="col-md-6">
    @{
        Block = Model.BlockNews.FirstOrDefault(q => q.Block.code == "TOP");
        if (Block != null && Block.News.Any())
        {
            @Html.Partial("_TopNews1", Block.News.FirstOrDefault())
            @Html.Partial("_NewsList1", Block.News.Skip(1).Take(3).ToList())
        }
    }
</div>
<div class="col-md-3">
    @{
        Block = Model.BlockNews.FirstOrDefault(q => q.Block.code == "LATESTNEWS");
        if (Block != null && Block.News.Any())
        {
            @Html.Partial("_block1", Block.News.Skip(10).Take(10).ToList(), new ViewDataDictionary { { "BlockTitle", Block.Block.title } })
        }
    }
</div>
<script>
    $(document).ready(function () {
        Rdio.News.Event.GetCategories();
    });
</script>

