
@{
    ViewBag.Title = "عدم دسترسی";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div style="text-align:center;color:#ddd;padding:130px;">
    <span><i class="fa fa-ban fa-5x" aria-hidden="true"></i></span>
    <h2>کاربری گرامی شما اجازه دسترسی به این عکس را ندارید</h2>
</div>

